.node-container{
    border-radius: 8px;
    background-color: #452121;
    width: 250px;
    height: 100px;
    text-align:"center";
    color: white;
    font-family: Open Sans;
    overflow: auto
}

.node-container-2{
  border-radius: 3px;
  width: 250px;
  height: 100px;
  text-align:"center";
  backgroundColor:"#452121";
  font-family: Open Sans;
  color:white;
  overflow: auto
}

.square{
  position: relative;
  top: -60px;
  left: 20px;
  padding: 60px;
  width:200px;
  height:200px;
  color:white;
  backgroundColor:"#452121";
}

.oval {
  width:250px;
  height:100px;
  backgroundColor:"#452121";
  border-radius:50%;
  color:white;

}

.circule { 
border-radius: 165px;
width:250px;
height:250px;
line-height:250px;
font-size:20px;
color:white; 
}
.main-container {
    width: "100%";
    height: "100vh";
    background-color: black;
    display: block;
    
}

.div-container {
  margin:auto;
  float: right;
  display: block;
  position: relative;
  z-index: 99;
}

.main-form {
  width: 100%;
  border: 2px solid#452121;
  border-radius: 7px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  display: block;    
}

.rd3t-tree-container svg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 98;
}

div #font-picker .dropdown-button {
  position: relative;
  width: 420px;
  height: 40px;
  margin:auto;
  padding: 8px;
  border-radius: 7px;
  background:white;
  outline: none;
  border: 2px solid#452121;
  

  
}

div #font-picker ul {
  position: relative;
  width: 400px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #eddede;
    box-shadow: 1px 1px 3px rgb(228, 206, 206,0.2);
}

div #font-picker ul li button.active-font {
  background: #e4cece
}